@model DanceClubs.Models.ActivityListingModel

<div class="card col-md-6" style="margin:auto;padding:0px">
    <div class="card-header"><h4>@Model.Description</h4></div>
    <div class="card-body" style="margin-left:30px">
        <h5>Grupa</h5> <h6>@Model.Group</h6>
        <br />
        <h5>Vrsta aktivnosti</h5> <h6>@Model.ActivityType</h6>
        <br />
        <h5>Vrijeme</h5> <h6>@Model.Start - @Model.End</h6>
        <br />
        <h5>Lokacija</h5> <h6>@Model.Location</h6>
        <br />
        <h5>Autor</h5> <h6>@Model.Author</h6>
    </div>
</div>