@model DanceClubs.Models.ActivityDetailModel

@{
    ViewData["Title"] = "Details";
}

<div>
    <h5>@Model.Group: @Model.ActivityType</h5>
    <h6>@Model.Start - @Model.End</h6>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                Korisničko ime
            </th>
            <th>
                Ime i prezime
            </th>
            <th>
                Dolazak
            </th>           
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var member in Model.Members)
        {
            <tr>
                <td>
                    @member.UserName
                </td>
                <td>
                    @(member.Name + " " + member.Surname)
                </td>
                <td>
                    @member.Attendance
                </td>                           
            </tr>
        }
    </tbody>
</table>
<div>  |
    <a asp-action="Index">Lista aktivnosti</a>
</div>
