@model IEnumerable<DanceClubs.Data.Models.Group>

@{
    ViewData["Title"] = "Index";
}

<h1>Grupe</h1>

<p>
    <a asp-action="Create">Dodaj grupu</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Ime
            </th>
            <th>
                Klub
            </th>
            <th>
                Vrsta plesa
            </th>
            <th>
                Dobna skupina
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Club.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DanceStyle.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AgeGroup.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Uredi</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalji</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Izbriši</a>
            </td>
        </tr>
}
    </tbody>
</table>
