@model DanceClubs.Models.NotificationIndexModel

<div>
    <a class="btn btn-primary" href="/Notifications/Create" style="float:right">Dodaj obavijest</a>
    <br />
    <br />
    @foreach (var notif in Model?.NotificationListingModels ?? new List<NotificationListingModel>())
    {
        <div class="card">
            <div class="card-header">
                <img src="@notif.AuthorImage" style="width:6%;height:6%;display:inline-block"/>
                <h5 style="display:inline-block">@notif.Author</h5>                
            </div>
            <div class="card-body">
                <h5>@notif.ClubName : @notif.GroupName</h5>
                <p class="card-title">@notif.Content</p>
                <p class="card-text" style="display:inline-block">@notif.Published</p>
                <button data-toggle="modal" data-target="#Komentiraj_@notif.Id" class="float-right btn btn-outline-primary ml-2" style="display:inline-block"> <i class="fa fa-reply"></i>Komentiraj</button>
                @foreach (var comment in notif.CommentListingModels)
                {
                    <div class="card-footer">
                        <div class="card">
                            <div class="card-header">
                                <img src="@comment.AuthorImage" style="width:4%;height:4%;display:inline-block" />
                                <h6 style="display:inline-block">@comment.Author</h6>
                            </div>
                            <div class="card-body">
                                <p class="card-title">@comment.Content</p>
                                <p class="card-text">@comment.Published</p>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>

        <div class="modal fade" id="Komentiraj_@notif.Id">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Komentiraj</h4>
                    </div>
                    <div class="modal-body">
                        <form id="form_@notif.Id" action="/Home/CreateComment" method="post">
                            <textarea placeholder="Comment..." type="text" id="Content" name="Content" value=""></textarea>
                            <input name="idNotif" type="hidden" value="@notif.Id">
                        </form>

                    </div>
                    <div class="modal-footer">
                        <button form="form_@notif.Id" type="submit" class="btn btn-primary"> Objavi</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Natrag</button>
                    </div>
                </div>
            </div>
        </div>

        <br />

    }
</div>
