@page
@model LoginModel

@{
    ViewData["Title"] = "Prijava";
}
<html>
<head>
    <style>
        body {
            background-color: mediumaquamarine;
        }
    </style>
</head>
<body>
    <div style="text-align:center;align-content:center;margin-top:45px">
        <img src="~/pointe.png" style="max-width:6%;max-height:6%;" />
        <h1 style="font-family:'Ink Free';display:inline-block;text-align:center">DanceClubs</h1>
    </div>
    <br />

    <div class="row" style="margin:auto">
        <div class="col-md-4" style="margin:auto">
            <h2>@ViewData["Title"]</h2>
            <section style="margin:auto">
                <form id="account" method="post">                   
                    <hr />
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Input.Email"></label>
                        <input asp-for="Input.Email" class="form-control" />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.Password">Lozinka</label>
                        <input asp-for="Input.Password" class="form-control" />
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label asp-for="Input.RememberMe">
                                <input asp-for="Input.RememberMe" />
                                Zapamti me?
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary" style="margin:auto">Prijavi se</button>
                    </div>
                    <div class="form-group">
                        <p>
                            <a id="forgot-password" asp-page="./ForgotPassword">Zaboravili ste lozinku?</a>
                        </p>
                        <p>
                            <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Registracija</a>
                        </p>
                    </div>
                </form>
            </section>
            <section style="margin:auto">
                <h5 style="text-align:center">Prijava putem Google računa</h5>
               
                <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal text-center">
                    <div>
                        <p>
                            @foreach (var provider in Model.ExternalLogins)
                            {
                                <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account" style="margin:auto">@provider.DisplayName</button>
                            }
                        </p>
                    </div>
                </form>
            </section>
        </div>       
    </div>
</body>
</html>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
