@model DanceClubs.Models.MembershipFeeIndexModel

<a class="btn btn-primary" href="/MembershipFee/Create" style="float:right; margin:5px">Dodaj članarinu</a>
<a class="btn btn-primary" href="/MembershipFee/MyClubsFees" style="float:right; margin:5px">Članarine mojih klubova</a>
<a class="btn btn-primary" href="/MembershipFee/Index" style="float:right; margin:5px">Moje članarine</a>

<table class="table">
    <thead class="thead-light">
        <tr>
            <th scope="col"></th>
            <th scope="col">Klub</th>
            <th scope="col">Korisnik</th>
            <th scope="col">Mjesec</th>
            <th scope="col">Godina</th>
            <th scope="col">Datum plaćanja</th>
            <th scope="col">Iznos (kn)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var fee in Model.MembershipFees)
        {
            <tr class="table-success">
                <th scope="row"></th>
                <td>@fee.Club</td>
                <td>@fee.User</td>
                <td>@fee.Month</td>
                <td>@fee.Year</td>
                <td>@fee.PaymentTime</td>
                <td>@fee.Amount</td>
            </tr>
        }
    </tbody>
</table>