@model DanceClubs.Data.Models.ClubUser

@{
    ViewData["Title"] = "Delete";
}

<h1>Izbriši</h1>

<h3>Jeste li sigurni da želite izbrisati člana kluba?</h3>
<div>
    <h4>ClubUser</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApplicationUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApplicationUser.UserName)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Club)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Club.Name)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MemberFrom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MemberFrom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MemberTo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MemberTo)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Izbriši" class="btn btn-danger" /> |
        <a asp-action="Index">Lista članova kluba</a>
    </form>
</div>
